div {
  text-align: center;
}

div h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3.4rem;
  font-family: Georgia, serif;
  color: #ffffff;
}

.calenderColour {
  background-color: #e7cb1b;
}
// https://fonts.google.com/specimen/Permanent+Marker?thickness=7&slant=6#standard-styles
