.div {
    text-align: center;

}
  
.bg-colour{
    opacity:80%;
    background-color: #e7cb1b;
    height: 10rem;
    position: fixed;
    top: 25%;
}

.text {
    opacity:1000%;
    text-align: center;
    font-size: 3.4rem;
    font-family: Georgia, serif;
    color: #ffffff;
}

.image {
    width: 100%;
    height: auto;
    margin-top: 5rem;
}